// main: ../page.less
.home-banner {
  background-image: url("@{base-url}banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  @media (max-width: 767px) {
    height: 950px;
  }
}
.four-block {
  @media (min-width: 1200px) {
    margin-top: 150px;
  }
  @media (min-width: 992px) {
    margin-top: 100px;
  }
}
.four-block.details {
  img {
    margin: 0 auto;
    width: 250px;
  }
  .det-1 {
    .mb-0;
    .oswal;
    .bold;
    font-size: 28px;
    .upper;
    span {
      &:first-child {
        color: @dark-pink;
      }
      &:nth-child(2) {
        color: @dark-blue;
      }
      &:last-child {
        color: @dark-pink;
      }
    }
  }
  .head-white {
    .oswal;
    color: @white;
    font-size: 32px;
    .upper;
  }
  .venue {
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    padding: 10px 0;
    width: 270px;
    margin: 0 auto;
    border: 2px solid @white;
    span {
      &:last-child {
        color: @dark-pink;
        font-weight: 700;
      }
    }
  }
  .time {
    .mt-10;
    .oswal;
    font-size: 16px;
    span {
      &:first-child {
        color: @white;
      }
      &:last-child {
        color: @black;
        margin-left: 10px;
      }
    }
  }
}

.four-block {
  .register {
    position: relative;
    @media (min-width: 768px) {
      bottom: 20px;
    }
    .robo;
    background-color: fade(@white, 40%);
    padding: 20px;
    @media (min-width: 992px) {
      padding: 50px 20px;
    }
    margin: 0 30px;
    .btn {
      background-color: @btn-violet;
      color: @white;
      font-weight: 500;
      font-size: 16px;
      padding: 8px 20px;
      border: none;
      transition: all 0.2s ease;
      @media (min-width: 992px) {
        margin-top: 20px;
      }
      &:hover {
        box-shadow: 0 0 10px fade(@btn-violet, 50%);
        background-color: lighten(@btn-violet, 5%);
      }
    }
    .form-group {
      margin-bottom: 10px;
      @media (min-width: 768px) and (max-width: 991px) {
        width: 100%/3;
        float: left;
        padding-right: 10px;
      }
      .placeholder;
      .form-control {
        height: 40px;
        border-radius: 6px;
        border: none;
        transition: all 0.3s ease;
        box-shadow: 0 0 10px fade(@btn-violet, 0%);
        &:focus {
          box-shadow: 0 0 10px fade(@btn-violet, 50%);
        }
      }
    }
  }
}

.circle-wrap {
  background-image: url("@{base-url}ellipses.png");
  height: 478px;
  background-size: contain;
  background-repeat: no-repeat;
  @media (max-width: 767px) {
    background-position: center;
    background-size: cover;
    height: 260px;
  }
  .content {
    margin-top: 20px;
    @media (min-width: 992px) {
      margin-top: 50px;
    }
    .xhale {
      color: @dark-blue;
      font-style: italic;
      font-size: 24px;
    }
    .best {
      .oswal;
      // .upper;
      font-size: 28px;
      @media (max-width: 767px) {
        font-size: 18px;
      }
      .vio {
        color: @dark-blue;
      }
      .green {
        color: @dark-green;
      }
      .grey {
        color: grey;
      }
    }
    .early {
      .oswal;
      font-size: 48px;
      position: relative;
      @media (max-width: 767px) {
        font-size: 28px;
      }
      span {
        &:first-child {
          color: #38a8d7;
        }
        &:last-of-type {
          color: #ee5691;
        }
      }
      img {
        margin: auto;
        position: absolute;
        left: 0;
        top: -4px;
        right: 0;
      }
    }
    .normal {
      .oswal;
      font-size: 30px;
      span {
        &:first-child {
          color: #267da7;
        }
        &:last-child {
          color: #9c3969;
        }
      }
    }
  }
}

.pink-head {
  p {
    color: @white;
    .oswal;
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    @media (min-width: 992px) {
      font-size: 32px;
      top: 13px;
    }
  }
}

.ws-content {
  margin-top: 60px;
  .divider {
    margin: 40px 0;
    float: left;
    width: 100%;
    img {
      float: right;
    }
  }
  &.right {
    text-align: right;
  }
  .content {
    p {
      .robo;
      &.head {
        color: @head-blue;
        font-weight: 700;
        font-size: 24px;
      }
      &.desc {
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.5px;
      }
    }
  }
}

.certif {
  p {
    .robo;
    color: #dd4763;
    font-weight: 900;
    border: 2px solid;
    padding: 15px 10px;
    margin: 60px 20px;
    font-size: 24px;
    @media (min-width: 992px) {
      font-size: 34px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
      padding: 15px 0;
      margin: 20px 0;
    }
  }
}

.partners.table {
  tr {
    td {
      border: none;
      vertical-align: middle;
      p {
        .robo;
        font-weight: 700;
        font-style: italic;
        font-size: 16px;
        letter-spacing: 0.5px;
        .mb-0;
      }
    }
  }
}

.person-pad {
  @media (min-width: 992px) {
    padding: 0 !important;
  }
}
